@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(100%); /* Mulai dari bawah */
        opacity: 0; /* Mulai dengan transparan */
    }
    100% {
        transform: translateY(0); /* Akhir di posisi normal */
        opacity: 1; /* Akhir dengan tampak penuh */
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0); /* Mulai dari posisi normal */
        opacity: 1; /* Mulai dengan tampak penuh */
    }
    50% {
        transform: translateY(20%); /* Sedikit gerakan ke bawah */
        opacity: 0.5; /* Sedikit transparan */
    }
    100% {
        transform: translateY(100%); /* Akhir di bawah */
        opacity: 0; /* Akhir dengan transparan */
    }
}

.modal-overlay {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s linear;
}

.modal-overlay.show {
    animation: fadeIn 0.3s ease forwards;
}

.modal-overlay.hide {
    animation: fadeOut 0.3s ease forwards;
}

.modal-overlay.show .modal-content {
    animation: slideIn 0.4s ease forwards;
}

.modal-overlay.hide .modal-content {
    animation: slideOut 0.4s ease forwards; /* Perbaiki penamaan di sini */
}
