@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.wedv1{
    background-color: #B17500;
    color: white;
    font-family: "Nunito", sans-serif;
    overflow: auto;
    scroll-behavior: smooth;
    font-size: 12px;
}

.wedv1::-webkit-scrollbar {
    display: none; /* Untuk Chrome, Safari, dan Edge */
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.cover-wedv1{
    height: 100vh;
    background-color: #1B1B1B;
    position: relative;
}

.cover-wedv1 .wedv1-image-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}
.cover-wedv1 .wedv1-image-2{
    position: absolute;
    top: 5px;
    left: 50%;
    width: 100px;
    transform: translate(-50%);
}
.cover-wedv1 .wedv1-image-3{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
}
.cover-wedv1 .wedv1-image-4{
    position: absolute;
    top: 50%;
    left: 5px;
    width: 1.5px;
    transform: translate(-50%, -50%);
}
.cover-wedv1 .wedv1-image-5{
    position: absolute;
    top: 50%;
    right: 5px;
    width: 1.5px;
    transform: translate(-50%, -50%);
}
.cover-wedv1 .wedv1-image-6{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
}
.cover-wedv1 .wedv1-image-7{
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 100px;
    transform: translate(-50%);
}
.cover-wedv1 .wedv1-image-8{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
}

.cover-content-wedv1{
    font-family: "Grenze Gotisch", serif;
    font-size: 3rem;
}

.cover-content-2-wedv1{
    font-family: "Playfair Display", serif;
}

.cover-content-btn-wedv1{
    background-color: #B17500;
    color: white;
}

/* quotes */
.quotes-content-wedv1{
    font-family: "Grenze Gotisch", serif;
    font-size: 1rem;
}

.quotes-content-wedv1{
    font-family: "Playfair Display", serif;
}

/* mempelai */
.mempelai-content-wedv1{
    font-family: "Grenze Gotisch", serif;
    font-size: 1.5rem;
}

.mempelai-content-wedv1{
    font-family: "Playfair Display", serif;
}

/* acara */
.acara-content-wedv1 {
    font-size: 1.3rem;
}

.tanggal-acara-wedv1{
    color: #FFC147;
    font-size: 1rem;
}

.jam-acara-wedv1{
    font-size: 1rem;
}

.taggal-pernikahan-wedv1{
    font-size: 1rem;
}

.acara-content-wedv1 .btn-lokasi-wedv1{
    background-color: #B17500;
    color: white;
    font-size: 12px;
}

.btn-lokasi-wedv1{
    font-size: 12px;
}

/* doa */
.doa-content-wedv1{
    font-family: "Grenze Gotisch", serif;
    font-size: 0.9rem;
}

.doa-content-wedv1{
    font-family: "Playfair Display", serif;
}

.ttd-wedv1{
    margin-top: 20%;
    font-size: 10px;
}

@media(max-width: 768px){
    .cover-content-wedv1{
        font-size: 2rem;
    }
}